<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PUNK API</title>
</head>
<body>
  <h1>Hello! Let me get you a beer!</h1>
  <div class="content-cnt">

    <img src='<%=image_url%>' alt="" srcset="" height="150px"
    width="75px">
    <p><%= name%></p>
    <p>ABV = <%=abv%></p>

  </div>

</body>
</html>